.brands {
	text-align: center;
}
.brands__title--gray {
	color: #5a5665;
}

.brands__logos {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.brands__logo {
	display: inline-block;
	vertical-align: middle;
	line-height: 3rem;
}

.brands__logo:last-child {
	margin-right: 0;
}
.brands__logo__image {
	max-height: 4rem;
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	opacity: 1;
	transition: all .3s ease-in;
}
.brands__logo__image[data-src] {
	opacity: 0;
}
.brands__logo__image--gray {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
}
.brands__logo--american-idol {
	opacity: .8;
}

.brands--hero {
	padding: 3rem 0;
	background-color: #f4f4f7;
}
.brands--form {
	padding: 0 0 5rem;
	background-color: #fff;
}
.brands--form--hire {
	padding: 3rem 0 4rem;
	margin-bottom: 5rem;
	background-color: #f4f4f7;
}
.brands__title {
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	color: #b8b7bc;
	font-size: .875rem;
	margin: 0 auto 1rem;
}

@media screen and (max-width: 1023px) {
	.brands__logo:nth-child(6),
	.brands__logo:nth-child(7),
	.brands__logo:nth-child(8),
	.brands__logo:nth-child(9),
	.brands__logo:nth-child(10),
	.brands__logo:nth-child(11),
	.brands__logo:nth-child(12) {display: none;}
	.brands__logo {
		margin-right: 1rem;
	}
	.brands__logo:nth-child(5) {margin-right: 0;}
	.brands--form--hire { background: #fff; }
}
@media screen and (min-width: 1024px) {
	.brands__logo {
		margin-right: 3rem;
	}
	.brands__logo__image {
		max-width: 90%;
	}
	.brands--hero {
		margin-bottom: 6rem;
	}
	.brands--form {
		padding: 5rem 0 10rem;
	}
}
@media screen and (min-width: 1280px) {
	.brands__logo {
		line-height: 4rem;
	}
}
