.cavalry {
	padding: 5rem 0 5rem;
	background-color: #fff;
}
.cavalry__title {
	position: relative;
  font: 800 2rem/1 'Open Sans',sans-serif; /* 35px */
  text-align: center;
  text-transform: uppercase;
  color: #34323b;
  margin: 0 auto 5rem; /* 80px */
  letter-spacing: -1px;
}
.cavalry__title::after {
	content: '';
	position: absolute;
	width: 2.5rem; /* 40px */
	height: 2px;
	bottom: -2.5rem; /* 40px */
	left: calc(50% - 1.25rem); /* 20px */
	background-color: #f63954;
}
.cavalry__intro {
	font-size: 1.25rem; /* 20px */
	line-height: 1.875rem; /* 30px */
	color: #5a5665;
	text-align: center;
}
.cavalry__brands {
	max-width: 1068px;
	margin: 2rem auto;
}

/* CTAs */
.cavalry__actions {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 2rem;
}
.cavalry__action {
	display: block;
	background-color: #fff;
	margin: 1rem 20px;
	text-decoration: none;
	text-align: center;
	line-height: 1;
	padding: 1px 1px 1rem;
	transition: box-shadow .3s ease-out;
}
.cavalry__action:hover {
	box-shadow: 0 0 20px rgba(0,0,0,.15);
}
.cavalry__action__img {
	max-width: 100%;
	opacity: 1;
	transition: all .3s ease-in;
}
.cavalry__action__img[data-src] {
	opacity: 0;
}
.cavalry__action__title {
	display: block;
	font-weight: 800;
	font-size: 1.5rem; /* 24px */
	text-transform: uppercase;
	color: #34323b;
	margin: 1.5rem auto .5rem;
}
.cavalry__action__learn {
	display: block;
	font-size: 20px;
	color: #f63954;
}

@media screen and (min-width:560px) and (max-width: 1023px) {
	.cavalry__intro {
		margin-left: auto;
		margin-right: auto;
		width: 61%;
	}
}
@media screen and (min-width: 1024px) {
	.cavalry__title {
		font-size: 2.25rem;
	}
	/* CTAs */
	.cavalry__actions {
		flex-direction: row;
		margin-bottom: 5rem;
	}
	.cavalry__action {
		width: 50%;
		max-width: 510px;
		margin: 2rem 20px;
		padding: 1px 1px 2rem;
	}
}
