.hero {
	color: #fff;
	overflow: hidden;
	height: 100%;
	position: relative;
}

.hero--with-bg {
	background: #363248 url(../images/hero-homepage-small.jpg) no-repeat center top;
	animation: fade 0.3s ease;
	height: 100vh;
}

.hero__wrap {
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 90%;
	max-width: 1280px;
}
.hero__wrap--center {
	align-items: center;
	text-align: center;
}
.hero__title {
	font: 800 2.5rem/.85 'Open Sans', sans-serif; /* 42px */
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	position: relative;
}
/*
.hero__title::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 94%;
  left: -3rem;
  top: 5%;
  background-color: #f63954;
}
*/
.hero__title i {
	font-style: italic;
}
.hero__bg {display: none;}


.hero--landing .hero__caption {
	font-size: 1.75rem;
	line-height: 1.1;
	max-width: 20em;
}
.hero__caption {
	font: 300 1.25rem/1.375 'Source Sans Pro', sans-serif; /* 20px/22px */
	margin: 1em 0;
}

/* layouts */
.hero--centered {
	text-align: center;
}
.hero__caption--centered {
	font-size: 1.25rem; /* 20px */
	line-height: 1.375rem; /* 22px */
	margin: 1em auto;
}
.hero .btn:first-child {margin-left: 0;}

/* Home page */
.hero__caption--cols {
	text-align: center;
}


@media screen and (max-width: 480px) {
	.hero {
		background-size: cover;
	}
}
@media screen and (min-width: 480px) {
	.hero--with-bg {
		background-image: url(../images/hero-homepage.jpg);
		animation: fade 0.3s ease;
	}
}
@media screen and (max-width: 768px) {
	.hero__wrap {
		width: 100%;
	}
	.hero__caption--centered {
		max-width: 80%;
	}
	.hero .btn {
		margin-bottom: 1.25rem;
	}
	.hero--landing .hero__caption {
		font-size: 1.25rem;
	}
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
	.hero {
		text-align: center;
	}
	.hero__title {
		font-size: 3.8rem;
	}
	.hero__caption {
		font-size: 2rem;
		line-height: 1;
	}
	.hero .btn {
		font-size: 1rem;
	}
}
@media screen and (max-width: 1023px) {
	.hero__action--centered .btn--red {
		display: block;
		max-width: 8em;
		margin: 1em auto;
	}
}
@media screen and (min-width: 1024px) {
	.hero {
		/* video background
		z-index: 1;
		width: 100%;
		top: 0;
		bottom: 0;
		background: transparent; */

		flex-flow: row wrap;
		z-index: 1;
    width: 100%;
    height: 45vw; /* height:width ratio = 9/16 = .5625  */
    max-height: 100%;
    top:0;
    left:0; right:0; /* horizontal center */
    background: transparent;
	}

	.hero--no-video {
		background-size: cover;
		z-index: 0; /* cutouts are displayed over hero picture */
	}
	.hero--no-video--with-bg {
		background: #363248 url(../images/hero-homepage.jpg) no-repeat;
		animation: fade 0.3s ease;
	}
	.hero .btn:not(:first-of-type) {
		margin-left: 1rem;
	}
	.hero__title {
		font-size: 3.8rem;
		letter-spacing: -2px;
	}

	.hero__caption {
		font-size: 1.2rem;
		line-height: 1.8rem;
	}
	.hero__caption--centered {
		font-size: 1.4rem;
		line-height: 1.7rem;
		margin-bottom: calc(1em + .625rem);
	}

	/* Hero background video */
	.hero__bg {
		display: block;
		position: absolute; right: 0; bottom: 0;
		top: 5.375rem;
		min-width: 100%; /*min-height: 100%;*/
		width: auto; height: calc(56vw - 5.375rem);
		z-index: -1;
		background-size: cover;
		background-color: #18171c;
		overflow: hidden;
	}
	.hero__bg__video {
	  min-width: 100%;
	  opacity: .3;
	  object-fit: cover;
	  /* Vimeo video bg */
	  position: absolute;
	  height: 56.25vw;
	  width: 140%;
	  top: 0;
	  left: -20%;
	  background-size: cover;
	  background-repeat: no-repeat;
    border-width: 0;
	}
	.hero__bg__video--with-bg {
		background-image: url('/images/hero-homepage.jpg');
		animation: fade 0.3s ease;
	}

	/* Home page */
	.hero__wrap--cols {
		flex-direction: row;
	}
	.hero__title--cols {
		margin-top: -8rem;
	}
	.hero__action {
		text-align: center;
		width: 50%;
		margin: 0 auto;
	}
	.hero__action--cols {
		margin-top: -9rem;
		margin-left: auto;
	}
	.hero__caption--cols {
		font-size: 2.35rem;
		line-height: 2.65rem;
		text-align: right;
	}

	.hero--landing .hero__title {
		margin-top: -6rem;
	}
	.hero--landing .hero__caption {
		font-size: 1.4rem;
	}
	.section__copy--hero {
		max-width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1116px) {
	.hero .hero__title {
		font-size: 2.8rem;
	}
}

@media screen and (min-width: 1280px) {
	.hero__caption {
		font-size: 1.25rem;
		line-height: 1.8rem;
	}
	.hero--landing .hero__caption {
		font-size: 1.75rem;
	}
	.hero__bg__video {
	  width: 130%;
	  left: -15%;
	}
}

@keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
