.menu {
  font-size: 1.125rem; /* 18px */
  width: 100%;
  z-index: 1000;
}
.menu__logo {
	display: inline-block;
	line-height: 3rem;
	width: 94px;
	height: 32px;
  overflow: hidden;
  z-index: 1001;
  position: absolute;
  left: 0;
  top: 0;
}
.menu__logo__svg {
	display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
}
.menu__list {
	margin: 0;
	padding: 0;
}
.menu__item {
	vertical-align: middle;
	list-style: none;
	text-align: center;
}
.menu__link {
	position: relative;
	text-decoration: none;
	color: #938e9f;
	font-size: 2.125rem; /* 34px */
	line-height: 3.5rem; /* 56px */
}

@media screen and (max-width: 1023px) {
	.menu {
		position: absolute;
		padding-top: 1rem;
		text-align: center;
		top: 0;
	}
	.menu__logo__svg path {
		fill: #34323b;
	}
  /*Page: Home and Join */
  .menu__logo__svg__white path {
    fill: #fff;
  }
	.menu__toggle {
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		border: none;
		text-indent: -999999999px;
		width: 32px;
		height: 32px;
		background-color: transparent;
		z-index: 1001;
	}

	.menu__toggle__line, .menu__toggle:before, .menu__toggle:after {
    position: absolute;
    left: 4px;
    width: 24px;
    height: 2px;
    background-color: #34323b;
    content: "";
	}
	.menu__toggle__line {top: 15px;}
	.menu__toggle:before {top: 6px;}
	.menu__toggle:after {bottom: 6px;}

  .menu__toggle--white:after, .menu__toggle--white:before, .menu__toggle--white .menu__toggle__line {
    background-color: #fff;
  }

	/* Hide/Show menu */
	.menu__menubar {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0; left: 0;
		padding-top: 3rem; /* logo/burger spacing */
		transition: transform .3s ease-out;
		transform: translateY(-100%);
		background-color: rgba(24,23,28,.98);
	}
	.body--menu-visible .menu__menubar {
		transform: translateY(0);
	}
	.menu__item, .menu .btn {
		transition: opacity .3s ease-out .2s, transform .3s ease-out .2s;
		transform: scaleY(0);
		opacity: 0;
	}
	.body--menu-visible .menu__item, .body--menu-visible .menu .btn {
		transform: scaleY(1);
		opacity: 1;
	}

  .body--menu-visible .menu__logo__svg path {
    fill: #fff;
  }

	.body--menu-visible .menu__toggle {
		border: none;
		background-color: transparent;
	}
	.body--menu-visible .menu__toggle:before,
	.body--menu-visible .menu__toggle:after {
		width: 30px;
		left: 0;
	}
	.body--menu-visible .menu__toggle:before {
		transform: rotate(45deg);
		top: 14px;
    background-color: #fff;
	}
	.body--menu-visible .menu__toggle:after {
		transform: rotate(-45deg);
		bottom: 15px;
    background-color: #fff;
	}
	.body--menu-visible .menu__toggle__line {display: none;}

	.menu__item:first-child {
		margin-top: 1rem;
	}

	/* Hire button */
	.menu .btn {
		display: inline-block;
		margin: 1.5rem auto 0;
		background: transparent;
		border-color: #fff;
		color: #fff;
		font-size: 1rem;
	}
	.menu .btn:hover {
		background: transparent;
		border-color: #fff;
		color: #fff;
	}
}
@media screen and (min-width: 1024px) {
	.menu {
		background-color: #fff;
		height: 5.3125rem;
		border-bottom: 1px solid #ececec;
	}
	.menu__logo__svg path {
		fill: #34323b;
	}
	.menu__menubar {
		height: 5.3125rem;
	}
	.menu__logo {
		width: 84px;
		height: 30px;
		position: absolute;
		left: 0;
		top: calc(50% - 15px);
	}
	.menu .btn {
		position: absolute;
		right: 0;
		top: calc(50% - 20px);
	}
	.menu__toggle {
		display: none;
	}
	.menu__list {
		text-align: center;
	}
	.menu__item {
		line-height: 5rem;
		display: inline-block;
		vertical-align: middle;
		margin-right: 2rem;
		text-align: center;
	}
	.menu__item:last-child {margin-right: 0;}
	.menu__link {
		position: relative;
		font-size: .85rem;
		font-weight: 400;
		line-height: 1;
		text-transform: uppercase;
		color: #34323b;
		opacity: .6;
	}

	.menu__link:before, .menu__link:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    width: 0;
    height: 1px;
    transition: all .2s ease-out;
    background-color: #34323b;
    opacity: .6;
  }
  .menu__link:before {
    left: 50%;
	}
	.menu__link:after {
    right: 50%;
	}
	.menu__link:hover:before {
    left: 0;
    width: 50%;
	}
	.menu__link:hover:after {
    right: 0;
    width: 50%;
	}

	/* Current Page */
	.menu__link--current:before {left: 0;}
	.menu__link--current:after {right: 0;}
	.menu__link--current:before,
	.menu__link--current:after {
    width: 50%;
    transition: none;
	}
}
