.resources-newsletters {
	padding: 8rem 0;
}
.resources-newsletters__title {
	position: relative;
  font: 800 2rem/1 'Open Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #34323b;
  margin: 0 auto 5rem;
  letter-spacing: -1px;
}
.resources-newsletters__title::after {
  content: '';
  position: absolute;
  width: 2.5rem;
  height: 2px;
  bottom: -2.5rem;
  left: calc(50% - 1.25rem);
  background-color: #f63954;
}
.resources-newsletters__intro {
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #5a5665;
  text-align: center;
}

.resources-newsletters__grid {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}
.resources-newsletters__item {
	margin-top: 4rem;
}
.resources-newsletters__item__link {
	text-decoration: none;
}
.resources-newsletters__item__img {
  display: block;
	width: 100%;
  padding-bottom: 1.5rem;
	opacity: 1;
	transition: all .3s ease-in;
}
.resources-newsletters__item__img[data-src] {
	opacity: 0;
}
.resources-newsletters__item__title {
  display: block;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.15;
  text-transform: uppercase;
  color: #34323b;
  margin-bottom: .75rem;
  transition: color .2s ease-out;
	text-align: center;
}
.resources-newsletters__item__link:hover .resources-newsletters__item__title {
  color: #f63954;
}
.resources-newsletters__item__snippet {
  display: block;
  font-size: 1.25rem; /* 20px */
  line-height: 2rem; /* 34px */
  color: #5a5665;
}

@media screen and (min-width: 800px) {
  .resources-newsletters__grid {
    justify-content: flex-start;
  }
  .resources-newsletters__item {
    width: 48%;
  }
}
@media screen and (min-width: 800px) and (max-width: 1115px) {
  .resources-newsletters__item:nth-child(odd) {
    margin-right: 4%;
  }
}
@media screen and (min-width: 1116px) {
  .resources-newsletters__item {
    width: 32%;
    margin-right: 2%;
  }
  .resources-newsletters__item:nth-child(3n) {
    margin-right: 0;
  }
}
